# For projects that use Waf for building: http://code.google.com/p/waf/
waf-*
.waf-*
.lock-*
build
bundle_dependencies

# Python
*.pyc

# Gnu Global tag files
GPATH
GRTAGS
GSYMS
GTAGS

# Emacs temp / auto save
\#*#
*.#*
*~

#Eclipse ignore
.cproject
.project
.metadata
local.properties
.classpath

# Visual Studio ignore
*.bat
*.sln
*.suo
*.user
*.ncb
*.sdf
*.opensdf
*.log
VSProjects
